// Body
$body-bg: #9fa0a0;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2c76b3c5;
$indigo: #445ff7dc;
$purple: #9561e2;
$pink: #e8427a;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #0bc759d7;
$teal: #2ce3d1;
$cyan: #52a8ee;
